@using myeShop.ViewModels.Common;
@model PagedResult<myeShop.ViewModels.Catalog.Products.ProductViewModel>
@{
    ViewData["Title"] = "Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Quản lý sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Danh sách sản phẩm</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            @*<th>Nhà cung cấp</th>*@
                            <th>Mô tả</th>
                            <th>Ngày nhập</th>
                            <th>Trạng thái</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Mô tả</th>
                            <th>Ngày nhập</th>
                            <th>Trạng thái</th>
                            @*<th></th>*@
                        </tr>
                    </tfoot>
                    <tbody>
                        @*------------------Database------------------*@
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Prod_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Supplier)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Prod_ID }) |
                                    @Html.ActionLink("Xem", "Details", new { id = item.Prod_ID }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Prod_ID }) |
                                    @Html.ActionLink("Gán quyền", "RoleAssign", new { id = item.Prod_ID })
                                </td>
                            </tr>
                        }
                        @*------------------End data------------------*@
                    </tbody>
                </table>
            </div>
            @*@await Component.InvokeAsync("Pager", Model)*@
        </div>
    </div>
</div>


